In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [29]:
df1 = pd.read_csv("stroke_data.csv")
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [30]:
df1.shape

(5110, 12)

In [31]:
df1.groupby('avg_glucose_level')['avg_glucose_level'].agg('count')

avg_glucose_level
55.12     1
55.22     1
55.23     1
55.25     1
55.26     1
         ..
266.59    1
267.60    1
267.61    1
267.76    1
271.74    1
Name: avg_glucose_level, Length: 3979, dtype: int64

In [32]:
df1.groupby('age')['age'].agg('count')

age
0.08       2
0.16       3
0.24       5
0.32       5
0.40       2
        ...
78.00    102
79.00     85
80.00     70
81.00     60
82.00     56
Name: age, Length: 104, dtype: int64

In [33]:
df2 = d1.drop(['ever_married','Residence_type'],axis='columns')
df2.head()

,id,gender,age,hypertension,heart_disease,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Private,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Self-employed,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Private,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Private,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Self-employed,174.12,24.0,never smoked,1

In [34]:
df2.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
work_type              0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [36]:
df3 = df2.dropna()
df3.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
work_type            0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [37]:
df3.shape

(4909, 10)

In [39]:
df4 = d3.drop(['id'],axis='columns')
df4.head()

,gender,age,hypertension,heart_disease,work_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Private,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Private,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Private,171.23,34.4,smokes,1
4,Female,79.0,1,0,Self-employed,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Private,186.21,29.0,formerly smoked,1

In [40]:
len(df4.avg_glucose_level.unique())

3852

In [16]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [41]:
df4[~df4['age'].apply(is_float)]

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, work_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [28]:
len(df4.age.unique())

104

In [27]:
df4[~df4['age'].apply(is_float)]

Empty DataFrame
Columns: [gender, age, hypertension, heart_disease, work_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

In [42]:
len(df4.avg_glucose_level.unique())

3852