In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
%matplotlib inline

In [13]:
df1 = pd.read_csv("stroke_data.csv")

In [14]:
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [15]:
#getting list of columns of dataset
df1.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [16]:
df1.shape

(5110, 12)

In [ ]:
#statistics data
df1.describe()

# Data Cleaning Process

Here we can see that bmi has nun value. We have to either delete the value or put mean value of bmi to handle this data problem

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

# Handling missing values

In [28]:
df1.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [29]:
#replacing NULL value with mean
df1['bmi'].fillna(df1['bmi'].mean(),inplace=True)

In [30]:
df1.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

Now all the null value are zero.

In [31]:
df1.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

# Removing Columns

In [32]:
df1 = df1.drop('id', axis=1) #id column not necessary

In [33]:
df1.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

# Data Preprocessing



# Encoding

-- Here gender, work_type, ever_married, recidence_type, smoking_status are categorical features.
We need to convert those into numerical data

In [34]:
df1['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

# LABEL Encoding

In [35]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [36]:
gender = le.fit_transform(df1['gender'])
smoking_status = le.fit_transform(df1['smoking_status'])
work_type = le.fit_transform(df1['work_type'])
Residence_type = le.fit_transform(df1['Residence_type'])
ever_married = le.fit_transform(df1['ever_married'])

In [ ]:
df1['ever_married'] = ever_married
df1['Residence_type'] = Residence_type
df1['smoking_status'] = smoking_status
df1['gender'] = gender
df1['work_type'] = work_type

In [38]:
df1['work_type'].value_counts()

2    2925
3     819
4     687
0     657
1      22
Name: work_type, dtype: int64

In [52]:
df1['gender'].value_counts()

0    2994
1    2115
2       1
Name: gender, dtype: int64

In [39]:
df1[['ever_married', 'Residence_type', 'smoking_status', 'gender', 'work_type']].head()

   ever_married  Residence_type  smoking_status  gender  work_type
0             1               1               1       1          2
1             1               0               2       0          3
2             1               0               2       1          2
3             1               1               3       0          2
4             1               0               2       0          3

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   int64
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   int64
 5   work_type          5110 non-null   int64
 6   Residence_type     5110 non-null   int64
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                5110 non-null   float64
 9   smoking_status     5110 non-null   int64
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 439.3 KB

# SPLIT THE DATASET INTO X & Y

In [41]:
#iloc : position based function

df1.iloc[0]  # print first row

gender                 1.00
age                   67.00
hypertension           0.00
heart_disease          1.00
ever_married           1.00
work_type              2.00
Residence_type         1.00
avg_glucose_level    228.69
bmi                   36.60
smoking_status         1.00
stroke                 1.00
Name: 0, dtype: float64

In [42]:
df1.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,1,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,0,79.0,1,0,1,3,0,174.12,24.000000,2,1

In [43]:
#print first row 2nd column value

df1.iloc[0,1]

67.0

# Rows:
*****data.iloc[0] # first row of data frame
**data.iloc[1] # second row of data frame 
**data.iloc[-1] # last row of data frame \\

# Columns:
**data.iloc[:,0] # first column of data frame \\
**data.iloc[:,1] # second column of data frame \\
**data.iloc[:,-1] # last column of data frame \\

In [44]:
df1.iloc[:,0:-1]

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,2,1,228.69,36.600000,1
1,0,61.0,0,0,1,3,0,202.21,28.893237,2
2,1,80.0,0,1,1,2,0,105.92,32.500000,2
3,0,49.0,0,0,1,2,1,171.23,34.400000,3
4,0,79.0,1,0,1,3,0,174.12,24.000000,2
...,...,...,...,...,...,...,...,...,...,...
5105,0,80.0,1,0,1,2,1,83.75,28.893237,2
5106,0,81.0,0,0,1,3,1,125.20,40.000000,2
5107,0,35.0,0,0,1,3,0,82.99,30.600000,2
5108,1,51.0,0,0,1,2,0,166.29,25.600000,1
5109,0,44.0,0,0,1,0,1,85.28,26.200000,0

In [45]:
 df1.iloc[:,-1]

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

# X and Y Splitting

In [46]:
x = df1.iloc[:,1:-1].values
y = df1.iloc[:,-1].values

print('X Shape', x.shape)
print('Y Shape',y.shape)

X Shape (5110, 9)
Y Shape (5110,)

# Splitting the dataset into the Training set and Test set

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state= 0)

In [48]:
print("Number transactions x_train dataset: ", x_train.shape)
print("Number transactions y_train dataset: ", y_train.shape)
print("Number transactions x_test dataset: ", x_test.shape)
print("Number transactions y_test dataset: ", y_test.shape)

Number transactions x_train dataset:  (4088, 9)
Number transactions y_train dataset:  (4088,)
Number transactions x_test dataset:  (1022, 9)
Number transactions y_test dataset:  (1022,)

# Handling imbalanced data using SMOTE

In [49]:
from imblearn.over_sampling import SMOTE

In [50]:
print('Before OverSampling, counts of label 1: {}'.format(sum(y_train==1)))
print('Before OverSampling, counts of label 0: {} \n'.format(sum(y_train==0)))

Before OverSampling, counts of label 1: 195
Before OverSampling, counts of label 0: 3893

In [56]:
print("Before OverSampling, counts of label '1': {}".format(sum(y_train==1)))
print("Before OverSampling, counts of label '0': {} \n".format(sum(y_train==0)))

sm = SMOTE(random_state=2)
x_train_res, y_train_res = sm.fit_resample(x_train, y_train.ravel())

print('After OverSampling, the shape of train_X: {}'.format(x_train_res.shape))
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '1': {}".format(sum(y_train_res==1)))
print("After OverSampling, counts of label '0': {}".format(sum(y_train_res==0)))

Before OverSampling, counts of label '1': 195
Before OverSampling, counts of label '0': 3893

After OverSampling, the shape of train_X: (7786, 9)
After OverSampling, the shape of train_y: (7786,)

After OverSampling, counts of label '1': 3893
After OverSampling, counts of label '0': 3893

# Model Selection

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.metrics import accuracy_score, classification_report

# Random Forest

In [58]:
model_rf = RandomForestClassifier()
model_rf.fit(x_train_res, y_train_res)
y_pred = model_rf.predict(x_test)
accuracy_score(y_test, y_pred)

0.9432485322896281

# ANN model with Keras

In [60]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation
import matplotlib.pyplot as plt

Using TensorFlow backend.

In [63]:
model = Sequential()
# add first hidden layer with input diamension
model.add(Dense(units = 32, activation='relu', kernel_initializer = 'he_uniform', input_dim = 9))
# add second hidden layer
model.add(Dense(units = 16, activation='relu', kernel_initializer = 'he_uniform'))
# add output layer
model.add(Dense(units = 1, activation = 'sigmoid', kernel_initializer = 'glorot_uniform'))

In [64]:
# now we compile the model
model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
# train the model
model.fit(x_train_res, y_train_res, batch_size = 128, epochs = 50, verbose = 1)

Epoch 1/50
7786/7786 [==============================] - 1s 83us/step - loss: 1.9468 - accuracy: 0.6403
Epoch 2/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.5477 - accuracy: 0.7435
Epoch 3/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.5235 - accuracy: 0.7537
Epoch 4/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.5064 - accuracy: 0.7515
Epoch 5/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4932 - accuracy: 0.7580
Epoch 6/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4875 - accuracy: 0.7634
Epoch 7/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4877 - accuracy: 0.7605
Epoch 8/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4804 - accuracy: 0.7656
Epoch 9/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4719 - accuracy: 0.7738
Epoch 10/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4729 - accuracy: 0.7669
Epoch 11/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4808 - accuracy: 0.7641
Epoch 12/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4734 - accuracy: 0.7733
Epoch 13/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4721 - accuracy: 0.7731
Epoch 14/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4634 - accuracy: 0.7763
Epoch 15/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4675 - accuracy: 0.7732
Epoch 16/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4656 - accuracy: 0.7755
Epoch 17/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4664 - accuracy: 0.7704
Epoch 18/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4553 - accuracy: 0.7804
Epoch 19/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4549 - accuracy: 0.7782
Epoch 20/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4550 - accuracy: 0.7811
Epoch 21/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4539 - accuracy: 0.7850
Epoch 22/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4553 - accuracy: 0.7810
Epoch 23/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4573 - accuracy: 0.7756
Epoch 24/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4546 - accuracy: 0.7808
Epoch 25/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4539 - accuracy: 0.7824
Epoch 26/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4604 - accuracy: 0.7793
Epoch 27/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4492 - accuracy: 0.7835
Epoch 28/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4708 - accuracy: 0.7784
Epoch 29/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4474 - accuracy: 0.7863
Epoch 30/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4403 - accuracy: 0.7894
Epoch 31/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4441 - accuracy: 0.7854
Epoch 32/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4536 - accuracy: 0.7873
Epoch 33/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4474 - accuracy: 0.7837
Epoch 34/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4421 - accuracy: 0.7841
Epoch 35/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4406 - accuracy: 0.7927
Epoch 36/50
7786/7786 [==============================] - 0s 11us/step - loss: 0.4396 - accuracy: 0.7910
Epoch 37/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4385 - accuracy: 0.7899
Epoch 38/50
7786/7786 [==============================] - 0s 13us/step - loss: 0.4420 - accuracy: 0.7923
Epoch 39/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4489 - accuracy: 0.7854
Epoch 40/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4404 - accuracy: 0.7905
Epoch 41/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4396 - accuracy: 0.7921
Epoch 42/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4448 - accuracy: 0.7878
Epoch 43/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4349 - accuracy: 0.7940
Epoch 44/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4472 - accuracy: 0.7862
Epoch 45/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4391 - accuracy: 0.7950
Epoch 46/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4346 - accuracy: 0.7953
Epoch 47/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4453 - accuracy: 0.7894
Epoch 48/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4375 - accuracy: 0.7942
Epoch 49/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4377 - accuracy: 0.7927
Epoch 50/50
7786/7786 [==============================] - 0s 12us/step - loss: 0.4437 - accuracy: 0.7877

In [65]:
acc = model.evaluate(x_test, y_test)

1022/1022 [==============================] - 0s 96us/step

In [66]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 32)                320
_________________________________________________________________
dense_5 (Dense)              (None, 16)                528
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 17
=================================================================
Total params: 865
Trainable params: 865
Non-trainable params: 0
_________________________________________________________________

In [69]:
y_predan = model.predict(x_test)

In [73]:
acc

[0.5175699864581607, 0.732876718044281]